{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block section %}
    <section class="mypage"></section>
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Gouvernorat</th>
                <td>{{ patient.Gouvernorat }}</td>
            </tr>
            <tr>
                <th>NomPatient</th>
                <td>{{ patient.NomPatient }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ patient.Ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('patient_index') }}">back to list</a>

    <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
