{% extends 'base.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block section %}
<section class="mypage"></section>
<div class="head-mybody">
    <h1>Publication</h1>
  
    <a class="btn btn-primary"href="{{ path('publication_new') }}"> <i class="fas fa-plus"></i> Ajouter publication</a>
 
    </div>
<section class="myPublication">



{% for publication in publications %}   
<div class="container">


<div class="row">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->


<div class="col-sm-5">

<div class="panel panel-default">

<div class="panel-heading">
<strong>{{ publication.nomUser }} {{ publication.PrenomUser }}</strong> 
{# <span class="text-muted">commented 5 days ago</span> #}
 <div class="btn-delete-my"> {% if publication.getIdUser() == app.user.id  %}
          
            {{ include('publication/_delete_form.html.twig') }}
        {% endif %}
        </div>
</div>
<div class="panel-body">
{{ publication.publicationText |replace({'bro': '***', 'tit': "***"})}}
</div><!-- /panel-body -->
<div class=" panel-default">
{# <a href="{{ path('publication_show', {'id': publication.id}) }}" class="card-link">Show</a> #}
        <a href="{{ path('publication_like',{'id':publication.id})}}" class="btn btn-link js-like">
        {% if app.user and publication.isLikedByUser(app.user) %}
        <i class="fas fa-thumbs-up"></i>
        {% else %}
         <i class="far fa-thumbs-up"></i>
        {% endif %}
    <span class="js-likes">{{ publication.likes | length }}</span>
 
    <span class="js-label">J'aime</span>
    </a>
        {% if publication.getIdUser() == app.user.id  %}
            <a href="{{ path('publication_edit', {'id': publication.id}) }}" class="card-link">Changer <i class="fas fa-edit btn-link"></i></a> 

           
        {% endif %}
        </div>
</div><!-- /panel panel-default -->

</div><!-- /col-sm-5 -->
 

</div><!-- /row -->

</div><!-- /container -->




        {% endfor %}
</section>


{% endblock %}
{% block js3 %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

function onClickbtnLike(event){
    event.preventDefault();
 
    const url = this.href;
    const spanCount=this.querySelector('span.js-likes');
    const icone=this.querySelector('i');
    axios.get(url).then(function(response){
       
        spanCount.textContent=response.data.likes;
        if(icone.classList.contains('fas')) 
        icone.classList.replace('fas','far')
        else icone.classList.replace('far','fas');
    }).catch(function(error){
        if(error.response.status===403){
            window.alert("aamel l auth");
        }else
          window.alert("moushkla");
    })
}


document.querySelectorAll('a.js-like').forEach(function(link){
    link.addEventListener('click',onClickbtnLike);
})

</script>
{% endblock %}