{{ form_start(form) }}
    {{ form_widget(form) }}
  <center>  <button class="btn btn-primary">{{ button_label|default('Confirmer') }}</button></center>
{{ form_end(form) }}

<iframe
  width="600"
  height="450"
  style="border:0;width:100%;"
 margin="10px 70px"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDX-nRJ8JxhkpsCsD_-7qGO1vgGtRfMWG4
    &q={{reservaide.ville}}">
</iframe>
