{% extends 'base.html.twig' %}

{% block title %}Pharmacies{% endblock %}

{% block section %}
    <section class="mypage"></section>
    <h1>Pharmacies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pharmacy.id }}</td>
            </tr>
            <tr>
                <th>Gouvernorat</th>
                <td>{{ pharmacy.Gouvernorat }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ pharmacy.Ville }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ pharmacy.Adresse }}</td>
            </tr>
            <tr>
                <th>NomPharmacie</th>
                <td>{{ pharmacy.NomPharmacie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pharmacies_index') }}">back to list</a>

    <a href="{{ path('pharmacies_edit', {'id': pharmacy.id}) }}">edit</a>

    {{ include('pharmacies/_delete_form.html.twig') }}
{% endblock %}
