


<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>

<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

<center><h1><font color="olive">Quelques règles de bon usage des médicaments</font></h1></center>


<BLOCKQUOTE>
 <p align="justify" ><br>Le médicament contient une substance active qui a des effets thérapeutiques sur votre organisme. Peuvent aussi survenir des effets indésirables avec tout traitement .
 Il est là pour soigner mais s’il est mal utilisé, il peut être dangereux. Suivez la prescription de votre médecin et les conseils de votre pharmacien.</p></br>
<p><img src="usage-particulier.jpg" alt=""/><br><b>Chaque traitement correspond à un cas particulier.</b>
 C’est votre médecin qui évalue votre état de santé et décide du traitement adéquat.<br>
Ainsi toute consultation n’aboutit pas systématiquement à une prescription.</br>
</p><br></div>
<p align="justify"><img src="usage-interaction.jpg" alt=""/><br>
 <b>Indiquez à votre médecin et à votre pharmacien les médicaments que vous utilisez</b>
 afin d’éviter les interactions avec d’autres médicaments.<br>
 Signalez-leur votre état de santé et vos antécédents médicaux 
 (allergie, grossesse, opération chirurgicale, maladie chronique…).
</p><br>

<p align="justify"><img src="usage-prescription.jpg" alt=""/><br>
<b>Respectez la prescription : dosage, heure de prise et durée du traitement.</b><br>
  Lisez la notice, conservez-la avec le médicament dans sa boîte jusqu’à la fin du traitement.</p><br>

<p align="justify"><img src="usage_effets-secondaires.jpg" alt=""/><br>
<b>Restez attentifs aux effets secondaires éventuels. </b><br>
Déclarez à votre médecin ou à votre pharmacien les les effets indésirables que vous auriez pu remarquer.<br>
Vous pouvez aussi déclarer vous-même un effet indésirable suspecté d’être du au médicament que vous avez pris à votre centre régional de pharmacovigilance
</p><br>


<p align="justify" ><img src="usage_dci.jpg" alt=""/><br>
<b>
Apprenez à repérer la « dénomination commune internationale » (DCI),</b><br>
c’est-à dire le nom de la substance active du médicament. La DCI est généralement indiquée sur les boîtes des<br>
médicaments, génériques ou non, en-dessous du nom de marque.</p><br>

 <p align="justify" ><img src="usage_perime.jpg" alt=""/><br>
<b>Ne prenez pas les médicaments périmés ou non utilisés d’un précédent traitement ou donnés par un proche  : 
</b><br>ils peuvent présenter un risque pour votre santé.</p><br>


 <p align="justify" ><img src="usae_recycl.jpg" alt=""/><br>
<b>Ne jetez pas les médicaments non utilisés à la poubelle. Rapportez-les (périmés ou non) à la pharmacie 
</b><br>Vous ferez ainsi un geste pour la planète en réduisant les résidus médicamenteux dans l’environnement.<br></p>

 <p align="justify" ><img src="usage_enfants.jpg" alt=""/><br>
<b>Tenez les médicaments hors de la portée des enfants.</b> Rangez-les dans une armoire fermée à
<br>clé ou un placard hors de leur portée. Pensez à ne pas les laisser sortis quand vous êtes en cours de votre traitement.
</p><br>



<p align="justify" ><img src="usage_grossesse.jpg" alt=""/><br>Selon la période de la grossesse, certains médicaments peuvent avoir des effets sur le développement<br>
 de l’embryon ou du fœtus. Si vous êtes enceinte, vous ne devez en aucun cas prendre un médicament ni <br>
 interrompre un traitement en cours sans avoir pris conseil auprès d’un médecin ou d’un pharmacien.
</p> </BLOCKQUOTE>


 <div class="col-sm-12 col-md-6 text-right">
 <a href="{{ path('message') }}" class="btn btn-outline-info"> les Nouveautés</a>
 </div>

 <script src="//code.jquery.com/jquery.js"></script>
 <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

    <div class="col-sm-12 col-md-6 text-right">
	<a href="{{ path('medicaments_index') }}">Retour a la liste des médicaments</a>
	</div>



