{% extends 'base.html.twig' %}

{% block title %}Medicaments index {% endblock %}

{% block section %}
	
	
	<section class="mypage"></section>
	<form action="{{path('rechercheer')}}" method="post" style="width=250px; margin:100px;">
		<strong>
			chercher
		</strong>
		<input type="text" placeholder="Rechercher.." name="reche" id="rech" class="form-control">

		<input type="submit" value="chercher" class="btn btn-primary">
	</form>

    <div class="head-mybody"> 
	<h1 style="color:#74BEF0">Les Medicaments</h1>


	{% if app.user %}
	<a class="btn btn-primary"href="{{ path('medicaments_new') }}"><i class="fas fa-plus"></i> Ajouter </a>
	{% endif %}

	 </div>

	<section class="myPublication">


		{% for medicament in medicaments %}
			<div class="card mycardpublication" style="width: 18rem;">
				<img class="card-img-top" src="{{ medicament.img }}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{ medicament.nom }}</h5>
					<p class="card-text">{{ medicament.prix }}dt</p>
					<a href="{{ path('cart_add', {'id': medicament.id}) }}" class="btn btn-primary">Reserver</a>
					<a href="{{ path('medicaments_show', {'id': medicament.id}) }}" class="btn btn-primary">show</a>
	<a href="{{ path('medicaments_edit',{'id': medicament.id})}}">edit</a>

					
				</div>
			</div>

		
            
		{% endfor %}
		 
                

	</section>
	<a href="{{ path('about') }}"><button class="btn btn-primary head-mybody" >Guide utilisation médicaments</button></a>


{% endblock %}
