{% extends 'base.html.twig' %}

{% block title %}ReservationMed{% endblock %}
{% block section %}
<section class="mypage"></section>
    <h1>ReservationMed</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation_med.id }}</td>
            </tr>
            <tr>
                <th>IdMed</th>
                <td>{{ reservation_med.idMed }}</td>
            </tr>
            <tr>
                <th>IdPhar</th>
                <td>{{ reservation_med.idPhar }}</td>
            </tr>
            <tr>
                <th>IdPatient</th>
                <td>{{ reservation_med.idPatient }}</td>
            </tr>
        </tbody>
    </table>
    
     
    <a href="{{ path('reservation_med_index') }}">back to list</a>

    <a href="{{ path('reservation_med_edit', {'id': reservation_med.id}) }}">edit</a>

  
   
{% endblock %}
