{% extends 'base.html.twig' %}

{% block title %}Medicaments
{% endblock %}


{% block section %}
<section class="mypage"></section>

 <div class="head-mybody"> 
<center><h1 style="color:#74BEF0"> Détails Medicaments</h1></center>
<div class="stmeformlpub">
	<center><table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ medicament.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ medicament.nom }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ medicament.description }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ medicament.prix }}</td>
			</tr>
			<tr>
				<th>Quantity</th>
				<td>{{ medicament.quantity }}</td>
			</tr>
			<tr>
				<th>Img</th>
				<td>{{ medicament.img }}</td>
			</tr>
			<tr>
				<th>Id_pharmacie</th>
				<td>{{ medicament.idPharmacie }}</td>
			</tr>
		</tbody>
		
	</table></center>


	
<div class="col-sm-12 col-md-6 text-right">
	       {{ include('medicaments/_delete_form.html.twig') }}
		   </div>
		      </div>
		        <div class="col-sm-12 col-md-6 text-right">
			  		<a href="{{ path('medicaments_edit', {'id': medicament.id}) }}" class="btn btn-danger">Modifier</a>
                  </div>

<div class="col-sm-12 col-md-6 text-right">
<a href="{{ path('medicaments_index') }}" class="btn btn-primary" >Retour a la liste des médicaments</a>
</div>
{% endblock %}
